body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/goodback.jpg");
  background-attachment: fixed;
}

img.sticky {
  position: sticky;
  float: right;
  top: 0;
  z-index: 2;
}

.overlay1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(104, 170, 256);
  background-color: rgba(104, 170, 243, 10);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay1-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay1 a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay1 a:hover, .overlay1 a:focus {
  color: #f1f1f1;
}

.overlay1 .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;

}


.info {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.card {
  order: 1;
  float: left;
  padding: 16px;

  width: 55%;

}

.image {

  width: 100%;
  height: auto;
}

.textinfo {
  order:2;
  font-size: 40px;
  float: right;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ef0909;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #cd1ee0
}

.button:active {
  background-color: #ffc303;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 450px) {
  .overlay1 a {
    font-size: 20px;
  }
  .info{
    flex-direction: column;
  }

  .info {
    width: 100%;
  }
  body{
    background-image: url("/images/main.jpg");
  }
}

